<main class="container mt-3 d-flex flex-column align-items-center justify-content-center">
    <h1>Adicionar um novo</h1>
    <form action="/diaristas" method="POST">
        <div class="row">

            <div class="col">
                <input text="text" id="nome" name="nome" class="form-control" placeholder="nome" />
            </div>
            <div class="col">
                <input text="text" id="idade" name="idade" class="form-control" placeholder="idade" />
            </div>
            <div class="col mb-3">
                <input text="text" id="endereco" name="endereco" class="form-control" placeholder="endereco" />
            </div>
            
        </div>
        
        <button type="submit" class="btn btn-outline-primary w-25">Cadastrar</button>
        <a class="btn btn-danger w-25" href="http://localhost:3000/diaristas">Cancelar </a>
        
    </form> 
</main>